
Make/linux*/
*.o
*.dep
*.a
*.so



/private_backend/


log*
runtime*
run.pid
run.status
processor*/
postProcessing/


examples/puregas/[1-9]*/
examples/puregas/0.*/
examples/twoPhase_pm5e-9_benchmark/0.5*/
examples/twoPhase_pm5e-9_benchmark/0.6*/
!examples/twoPhase_pm5e-9_benchmark/0.49999995/

__pycache__/
*.pyc
*:*Zone.Identifier*
