
Make/linux*/
private_backend/build/
private_backend/build_logs/
private_backend/libugkwp_cuda_backend.a
private_backend/ugkpCudaBackend
*.o
*.obj
*.dep
*.a
*.so
*.dll
*.exe


.pytest_cache/
__pycache__/
*.py[cod]


log
log.*
log-*
runtime*
run.pid
run.status
processor*/
postProcessing/
core
core.*


examples/**/[1-9]*/
examples/**/0.[0-9]*/
examples/**/*e-[0-9]*/


!examples/pressuretest/GPU_twophase/cp_cst_test/l0/0.10000002/
!examples/pressuretest/GPU_twophase/cp_cst_test/l0/0.10000002/**
!examples/pressuretest/GPU_twophase/cp_cst_test/l1/0.10000002/
!examples/pressuretest/GPU_twophase/cp_cst_test/l1/0.10000002/**
!examples/pressuretest/GPU_twophase/cp_cst_test/t1/0.10000002/
!examples/pressuretest/GPU_twophase/cp_cst_test/t1/0.10000002/**
!examples/pressuretest/GPU_twophase/cp_cst_test/t2/0.10000002/
!examples/pressuretest/GPU_twophase/cp_cst_test/t2/0.10000002/**
!examples/pressuretest/GPU_twophase/cp_cst_test/dense/t1/0.10000002/
!examples/pressuretest/GPU_twophase/cp_cst_test/dense/t1/0.10000002/**


*:*Zone.Identifier*
.DS_Store
Thumbs.db
